@{
    ViewData["Title"] = "Home Page";
}
@model Category

<a href="/products">Products |</a><a href="/categories"> Categories</a>

<h1>New Category</h1>
<div class="form-group">
    <form action="createcategory" method="post">
        <label>Name:</label>
        <input type="text" name= "categoryname" class="form-control">
        <input type="submit" class="btn btn-danger" value="Submit">

    </form>
</div>

<div class="right">
    <h2>Existing Categories</h2>
    <ul>
    
        @foreach (Category c in ViewBag.allcategories)
        {
            <li><a href="/category/@c.categoryID">@c.categoryname</a></li>
        }
    </ul>
</div>